/* ProductDetails styles */
.productDetailsContainer{
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > * {padding: 20px;}
    .thumbnail img{
        width: 400px;
        height: 400px;
    }
    .details{

    }
}