/* https://freefrontend.com/css-login-forms/ */
.screen{
  background: #f1f7fe;
  padding: 2em;
  border-radius: 30px;
  box-shadow: 0 0 2em #e6e9f9;
  width: 400px;
  margin: 0 auto;
}

.screen .header{
  color: #1a73e8;
  margin: 0 0 40px 0;
}
.screen form {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    gap: 2em;
  }
  
  .screen form .item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .screen input {
    background-color: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 5px;
    color: #4d4d4d;
    width: 100%;
    text-indent : 20px;
  }

  .screen input {
    outline: none;
    border: none;
    /* border: 1px solid #4d4d4d; */
  }

  .screen input.hasError{
    border: 1px solid red;
  }

  .screen span.error{
    text-align: left;
    color: red;
    font-size: 12px;
    background-color: rgba(255,0,0,.2);
  }

  .screen .login , .screen .SignUp {
    padding: 1em;
    background: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
  }
  
  .screen .footer {
    padding-top: 20px;
  }

  button {
    cursor: pointer;
  }

  